# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?



sfu-mediasoup2
webrtc-sfu-demo/src/assets/bbb_sunflower_native_60fps_normal.mp4
webrtc-sfu-demo/src/assets/Big_Buck_Bunny_720_10s_30MB.mp4
webrtc-sfu-demo/src/assets/Big_Buck_Bunny_720_10s_30MB.webm
webrtc-sfu-demo/src/assets/h264_360p_10fps_0.6M_rabbit.mp4
webrtc-sfu-demo/src/assets/h264_720p_60fps_0.6M_rabbit.mp4
webrtc-sfu-demo/src/assets/h264_720p_60fps_2.5M_rabbit.mp4
webrtc-sfu-demo/src/assets/h264_720p_60fps_2.5M_rabbit_123.mp4
webrtc-sfu-demo/src/assets/h264_720p_60fps_2.5M_rabbit45646.mp4
webrtc-sfu-demo/src/assets/h264_720p_60fps_4M_rabbit.mp4
webrtc-sfu-demo/src/assets/vp8_720p_60fps_2.5M_rabbit.webm
